<div class="flex row full-height">
	<div class="flex flex05 column justify-center align-center padded gray-light-bg">
	</div>
	<div class="flex flex05 column justify-center align-center padded">
	</div>
</div>