<div class="flex row full-height">
	<div class="flex flex05 column justify-center align-center padded gray-light-bg">
		<span class="main-font title">RPSLS</span>
	</div>
	<div class="flex flex05 column padded">
		<span class="main-font subtitle">Games</span>
	</div>
</div>
{{!-- 
{{fa-icon 'arrow-circle-right'}}
{{fa-icon 'times-circle'}} --}}

{{!-- <div class="flex column">
	<Icon 
		@name='hand-rock'
		@size='2x'
		@color='black'
		@prefix='far'
	/>
	<Icon 
		@name='hand-paper'
		@size='2x'
		@color='black'
		@prefix='far'
	/>
	<Icon 
		@name='hand-scissors'
		@size='2x'
		@color='black'
		@prefix='far'
	/>
	<Icon 
		@name='hand-lizard'
		@size='2x'
		@color='black'
		@prefix='far'
	/>
	<Icon 
		@name='hand-spock'
		@size='2x'
		@color='black'
		@prefix='far'
	/>
</div> --}}