<div class="flex full-width full-height">
	<div class="flex flex1 column justify-center align-center padded gray-light-bg">
		<span class="main-font title">RPSLS</span>
		<button class="btn secondary-font body white-text" {{action 'enterGame'}}>enter</button>
	</div>
</div>